.TabelaProdutos table {
  width: 100%;
}


.TabelaProdutos th {
  background-color: #075858;
  color: white;
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #ccc;
}